.loginHeader
{
    color: #000000;
    font-weight: bold;
    display:grid;
    grid-template-rows: 8em 8em;
    justify-items: center;
    margin-top:2em;
}
.loginHeader img
{
    height:8em;
}
.loginHeader p {
    padding-top: 3rem;
    margin:1%;
    font-size: 2em;
}