.loginInfo {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 1rem;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.imageContainer > img {
    height: 4.5rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 4rem;
    
}

.textContainer > p {
    font-size: 1.5rem;
    font-weight: bold;
}
