.loginInfo {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.imageContainer {
    display: flex;
    flex-direction: column;
}

.imageContainer > img {
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 4.5rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 4rem;
    
}

.textContainer > p {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
