.login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
}

.login .leftSide {
    z-index: 1;
}

.login .rightSide {
    z-index: 1;
}

.footer-wave {
    z-index: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    bottom: 0%;
}

.wave {
    width: 100%;
    vertical-align: bottom;
}