.banner {
    display: flex;
    position: fixed;
    background-color: #0054BA;
    width: 100%;
    color: white;
    justify-content: space-between;
    top: 0;
    overflow: hidden;
    height: 4rem;
}

.bannerLeftSide {
    display: flex;
    margin-left: 2%;
    gap: 0rem;
    align-items: center;
}

.bannerLeftSide img{
    height: 4rem;
    margin-right:2%;
}

.bannerLeftSide button{
    padding:0;
}

.bannerLeftSide button {
    font-size: 2rem;
    font-family: 'Fredoka', sans-serif;
    background-color: #0054ba00;
    color: #ffffff;
    border: none;
    background: none;
    cursor: pointer;
}

.bannerRightSide{
    display: flex;
    margin-right: 2%;
    align-items: center;
}

.bannerRightSide img{
    height: 2.5rem;
}

.bannerRightSide p {
    font-size: 1.5rem;
}

.bannerMiddle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bannerMiddle button {
        font-size: 1.5rem;
        font-family: 'Fredoka', sans-serif;
        background-color: #0054ba00;
        color: #ffffff;
        border: none;
        background: none;
        cursor: pointer;
}

.bannerMiddle button:hover {
    color: #ffffff96;
    cursor: pointer;
}