.fullTaskview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskViewport {
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border-style: solid;
    height: 70vh;
    min-width: 90%;
    border: none;
}