.viewTaskCard {
    display: grid;
    grid-template-columns: 10% 80% 20%;
    background-color: white;
    border-radius: 0.75em;
}

.taskAccentColorDiv {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    display:flex;
}

/* .taskAccentColorDiv button {
    border:none;
    height:25%;
    aspect-ratio: 1 / 1;
    margin-right: 12%;
    
} */

.taskMiddleDiv {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em 0em 1em 1em;
    justify-content: center;
    overflow-wrap: break-word;
}

.taskEditButtonDiv {
    padding: 1em;
    margin-left: auto;
    margin-right: 0;
}

.checkBox {
    box-sizing: border-box;
    width:50%;
    
    aspect-ratio: 1/1;
    border-radius: 3px;
    background-color: white;
    margin: auto;
}

.checkBox:hover {
    background-color: #dddddd;
}

.checkBox:active {
    background-color: #bbbbbb;
}

.taskRightDiv {
    padding: 1em;
}

.taskRightDiv img {
    height:35%;
}


.earnedTokensPopup {
    position:absolute;
    height:8%;
    width: 10%;
    background-color: #00B0FF;
    left:1%;
    top:92%;
    z-index: 99;
    padding: 1em;
    text-align: center;
    color:white;
}

.earnedTokensPopupHidden {
    top:100%;
}